.anecdote {
    margin-bottom: 10px; 
    border: 1px solid grey; 
    padding: 3px; 
}

.anecdote-content {
    margin-bottom: 5px;
    background-color: rgb(238, 236, 236);
}

.filter {
    margin-bottom: 5px;
}

.notification {
    background-color: rgb(193, 248, 193);
}

h2 {
    margin-bottom: 50px;
}